@model _3NET_EventManagement.Models.Contribution

@{
    ViewBag.Title = "Add a contribution";
}

<h3>@ViewBag.Title for @Html.DisplayFor(model => model.Event.EventName)</h3>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Contribution</legend>
        @*<div class="editor-label ">
            @Html.LabelFor(model => model.Event.EventName, "Event")
        </div>*@
        <div class="editor-field">
            @Html.HiddenFor(model => model.EventId)
        </div>
        @*<div class="editor-field">
            <h3>@Html.DisplayFor(model => model.Event.EventName) </h3> 
        </div>*@
        <div class="editor-label">
            @Html.LabelFor(model => model.TypeId, "Type")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TypeId", String.Empty)
            @Html.ValidationMessageFor(model => model.TypeId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Amount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>


        @*<div class="editor-label">
            @Html.LabelFor(model => model.EventId, "Event")
        </div>
        <div class="editor-field">
            @Html.DropDownList("EventId", String.Empty)
            @Html.ValidationMessageFor(model => model.EventId)
        </div>*@


     
        <div class="editor-label">
            @Html.HiddenFor(model => model.UserId)
        </div>

        <div class="editor-field">
            @Html.HiddenFor(model => model.User)
          
        </div>

        

        <p>
            <input type="submit" value="Create" class="btn btn-primary"/>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Event", null, new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
