@model _3NET_EventManagement.Models.LocalPasswordModel

<h3>Modify password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Formulaire de modification de mot de passe</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                <br />
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                <br />
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                <br />
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" class="btn btn-primary" value="Modify Password" />
    </fieldset>
}
