<!DOCTYPE html>
<html lang="fr">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Synchronic World</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
       
        @Styles.Render("~/Content/css")
        <link rel="stylesheet" href="/Content/bootstrap.min.css" type="text/css" />
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Synchronic World", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>

@if (Request.IsAuthenticated && Roles.GetRolesForUser(User.Identity.Name).Contains("admin"))
{
     <ul id="menu">
                            <li>@Html.ActionLink("Modify Password", "Manage", "Account")</li>
                            <li>@Html.ActionLink("Edit Profil", "Edit", "Account")</li>
                             <li>@Html.ActionLink("View Users", "Index", "User")</li>
                            <li>@Html.ActionLink("View Events", "Index", "Event")</li>
                            <li>@Html.ActionLink("View Friends", "Index", "Friend")</li>
                            
                        </ul>
}
else 
if (Request.IsAuthenticated)
{
                        <ul id="menu">
                            <li>@Html.ActionLink("Modify Password", "Manage", "Account")</li>
                            <li>@Html.ActionLink("Edit Profil", "Edit", "Account")</li>
                            <li>@Html.ActionLink("View Events", "Index", "Event")</li>
                            <li>@Html.ActionLink("View Friends", "Index", "Friend")</li>
                            
                        </ul>
}else
{ 
                    <nav>
                        <ul id="menu">
                            @*<li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                            <li>@Html.ActionLink("À propos de", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                        </ul>
                    </nav>
                    }
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My Application ASP.NET MVC</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
